*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,
body{
    font-family:sans-serif;
    font-size:62.5%;
    display:flex;
    justify-content:center;
    background-color:#edf2f4;
}

button,
input{
    outline:none;
}

.app{
    width:400px;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

h1{
    font-size:4.0rem;
}

span{
    margin: 1.0rem 0 2.5rem 0;
    font-size:1.8rem;
}

button,
input{
    width:100%;
    padding:1.4rem;
    margin:5px 0;
    border:none;
    border-radius:6px;
    background-color:#2b2d42;
    color:#fff;
    font-size:1.8rem;
}

button{
    margin-top:20px;
    background-color:#ef233c;
    cursor:pointer;
}

h2{
    font-size:1.8rem;
    margin-top:30px;
}